#Cursos {
    color: #fff;
}
#Cursos h2{
    font-family: var(--fonte-inter);
    font-weight: 600;
    color: white;
}


.card-item{
    color: white;
    background: #1E1E1E;
    width: 400px;
    padding: 20px;
    transition: 1s ease;
}
.card-item-mobile{
    color: white;
    background: #1E1E1E;
    width: 400px;
    padding: 20px;
    transition: 1s ease;
}

.card-item:hover{
    background: linear-gradient(90deg, #CC0C08 0%, #660604 100%);
    transition: 1s;
}
.txt-vermelho{
    color: #E22929;
    font-weight: 900;
    font-size: 6rem;
    line-height: 80px;
}

.titulo-card{
    font-family: var(--fonte-inter);
    font-size: 1.5rem;
}
.desc-card{
    font-family: var(--fonte-noto-sans);
    font-size: 0.8rem;
    color: rgb(169, 169, 169);
}
.btn-card{
    font-family: var(--fonte-noto-sans);
    text-decoration: none;
    background-color: #B71721;
    color: white;
    transition: color 0.3s;
}
.btn-card:hover{
    color: #1E1E1E;
    background-color: white;
}
.card-item:hover .btn-card{
    color: white;
    background-color: rgb(49, 49, 49);
}

.card-list .card-item .card-image{
    width: 100%;
    border-radius: 8px;
}

.slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}
.slider-wrapper .swiper-pagination-bullet {
    background-color: #E22929;
    height: 15px;
    width: 15px;
}

.slider-wrapper .slider-wrapper-btn{
    color: #E22929;
    margin-top: -50px;
    transition: 0.3s ease;
}
.slider-wrapper .slider-wrapper-btn:hover{
    color: #fff;
}

@media (max-width: 992px) {
    .slider-wrapper{
        margin: 0 10px 40px;
    }

    .slider-wrapper .slider-wrapper-btn{
        display: none;
    }
}

@media (min-width: 1920px) { /* modificações para resoluções a partir de 1920px */
    #Cursos h2{
        font-size: 3rem;
        line-height: 50px;
    }
    .txt-vermelho{  
        font-size: 10rem;
        line-height: 150px;
    }


    .card-item{
        height: 575px;
    }
    .titulo-card{
        font-size: 1.8rem;
    }
    .desc-card{
        font-size: 0.9rem;
    }
}

@media (max-width: 576px){
    .txt-vermelho{
        font-size: 4.5rem;
        line-height: 80px;
    }
}