
.container-destaques h2{
    font-size: 4rem;
    font-family: var(--fonte-inter);
    font-weight: 900;
    line-height: 51px;
    color: #E22929;
}
.container-destaques p{
    color: white;
    font-size: 1.1rem;
}

.content-card-destaque{
    text-align: center;
    margin-top: 20%;
}

.card-destaque .h1-card-destaque{
    color: white;
    font-size: 2rem;
    font-weight: 900;
    line-height: 51px;
    margin: 1rem 0;
}
.saiba-mais-card-destaque{
    text-decoration: none;
    background-color: white;
    color: #E22929;
    font-family: var(--fonte-inter);
    font-weight: 800;
    line-height: 36px;
    border-radius: 24px 0 24px 0;
    border: 2px solid transparent;
    transition: 0.5s;
}
.saiba-mais-card-destaque:hover{
    background: linear-gradient(90deg, #CB0C08 0%, #670604 100%);
    color: white;
    border-radius: 0px 24px 0px 24px;
    border: 2px solid white;
}

.cards{
    /* background: linear-gradient(90deg, #CB0C08 0%, #670604 100%); */
    border: 2px solid rgba(128, 128, 128, 0.4);
    transition: transform 0.3s ease-in-out;
    color: white;
}
.cards:hover{
    transform: scale(1.15);
    border: 2px solid #67060481;
    color: white;
    animation: pulse 2s infinite;
}
.cards h2{
    font-size: 2.5rem;
    color: white;
}
.cards img{
    width: 100px;
}

/* .animation-test{
    visibility: hidden;
}  */



@media (max-width: 768px){
    .titulo-destaque h1{
        font-size: 2rem;
    }
    .cards{
        width: 300px;
    }
}


.card-destaque1 {
    background-color: #1E1E1E;
    transition: 1s;
}

.card-destaque1:hover {
    background: linear-gradient(90deg, #CC0C08 0%, #660604 100%);
}

.card-destaque1 .bi {
    font-size: 4rem;
    color: #B71721;
    transition: color 0.3s;
}

.card-destaque1:hover .bi {
    color: white;
}

.card-destaque1 h2 {
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
    transition: color 0.3s;
}

.card-destaque1:hover h2 {
    color: white;
}

.card-destaque1 p {
    color: rgb(169, 169, 169);
    font-size: 0.9rem;
    font-weight: 400;
    transition: color 0.3s;
    line-height: 20px;
}

.card-destaque1:hover p{
    color: rgb(209, 209, 209);
}

.card-destaque1 .bi-arrow-right-short {
    font-size: 2rem;
    color: #B71721;
    transition: color 0.3s;
}

.card-destaque1:hover .bi-arrow-right-short {
    color: white;
}

.card-destaque1 a {
    text-decoration: none;
    color: #B71721;
    transition: color 0.3s;
}

.card-destaque1:hover a {
    color: white;
}

.btn-card-destaque{

}

@media (max-width: 576px){
    .container-destaques h2{
        font-size: 3rem;
        line-height: 51px;
    }
}

/*
==================================
            Animações
==================================
*/
.animacao-card1, .animacao-card2, .animacao-card3{
    visibility: hidden;
}