#footer-menu h2{
    color: #E22929;
    font-family: var(--fonte-montserrat);
    font-weight: 700;
}

footer{
    font-size: 1.2rem;
}

.content-footer-menu1 li{
    list-style: none;
    color: white;
}
.content-footer-menu1 a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    transition: 0.15s;
}
.content-footer-menu1 a:hover{
    font-weight: 600;
}

.content-footer-menu2 li{
    list-style: none;
}
.content-footer-menu2 a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    transition: 0.15s;
}
.content-footer-menu2 a:hover{
    font-weight: 600;
}
.content-footer-menu2 .bi{
    color: #9b1f1f;
}

.content-footer-menu3{
    color: white;
}
.content-footer-menu3 a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    transition: 0.15s;
}
.content-footer-menu3 a:hover{
    font-weight: 600;
}
.content-footer-menu3 .bi{
    color: #9b1f1f;
}



.content1-footer{

}
.content1-footer h2{
    font-family: var(--fonte-inter);
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
}
.content2-footer h2{
    font-family: var(--fonte-inter);
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}
.img-logo-promova{
    width: 35%;
}



.redes-sociais p{
    width: 312px;
}
@media (max-width: 992px){
    footer{
        font-size: 1.5rem;
    }
    .bi{
        font-size: 1.5rem;
    }
    .content1-footer{
        margin-bottom: 10%;
    }
}
@media (max-width: 768px){

}