.background-sobre{
    background-image: url('../img/background-sobre.webp');
    background-size: cover;
    background-position: center;
}
.titulo-sobre-background{
    width: 100%;
    background-image: url('../img/SOBRE-Titulo.webp');
    background-size: cover;
    background-position: center;
    margin-bottom: 3%;
}
.container-sobre #titulo-sobre{
    color: #E22929;
    font-size: 1050%;
    font-weight: 900;
    text-align: center;
    padding: 100px;
}
.numeros-row{
    padding-bottom: 3%;
}
.texto-missao{
    font-family: var(--fonte-montserrat);
}
.variacao2{
    text-align: end;
}
.texto-missao h1{
    color: white;
    font-size: 2rem;
    font-weight: 900;
    line-height: 48px;
}
.texto-missao p{
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 36px;
}
.numeros{

}
@media (max-width: 992px){
    .texto-missao{
        margin-top: 5%;
    }
}

@media (max-width: 768px){
    .container-sobre #titulo-sobre{
        font-size: 250%;
        padding: 100px;
    }
    .numeros{
        width: 200px;
    }
    .texto-missao h1{
        font-size: 2rem;
        line-height: 24px;
    }
    .texto-missao p{
        font-size: 1rem;
        line-height: 16px;
    }
}


/*
==================================
            Animações
==================================
*/
.animacao-txt-sobre{
    visibility: hidden;
}